<%= form_with url: messages_ticket_path(@ticket['id']), method: :post, local: false, data: { controller: "clear-form", action: "turbo:submit-end->clear-form#clear" } do |form| %>
  <div class="mb-3">
    <%= form.text_area :content, class: "form-control", placeholder: "Write your message..." %>
  </div>
  <%= form.submit "Send Message", class: "btn btn-primary" %>
<% end %>