<h1>Create New Ticket</h1>
<%= render 'form', 
           form_url: create_ticket_tickets_path, 
           form_method: :post, 
           form_button_text: "Create Ticket", 
           ticket: @ticket || {} %>